@color: white;
@color-folder: blue;
@color-files: Teal;
@color-selection: tomato;
@font: courier;
@font-size: 11px;
@line-height: 14px;

body{
  font-family: @font;
  font-size: @font-size;
  line-height: @line-height;
  background: @color;
}

.list{
  width: 30%;
  float: left;
}

.list > ul:nth-of-type(1){
  padding-top: 50px;
}

.content{
  width: calc(70% - 2px);
  height: 100%;
  position: fixed;
  margin-right: 0px;
  margin-left: 30%;
  float: left;
  border: 1px dashed @color-files;
  overflow-y: scroll; 
}

.list li{
  margin-left: 12px;
  list-style: none !important;
  border-left: 1px solid @color-files;
  padding-left: 3px;
  color: @color-files;
  span{
    margin-left: 6px;
    img{
      // outline: 1px solid @color-files;      
      width: auto;
      height: 14px;
    }
  }
}
.list ul{
  border-bottom: 1px dashed @color-folder;
  border-left: 1px dashed @color-folder;
  margin-left: 12px;
  margin-bottom: 6px;
  padding-left: 3px;
  color: blue;
}
.list li, ul{

  cursor: pointer;
}
.list ul:hover{
  border-bottom: 1px solid @color-selection;
  border-left: 1px solid @color-selection;
  color: @color-selection;
}
.list li:hover{
  border-left: 1px solid @color-selection;
  color: @color-selection;
}
.list a{
  text-decoration: none;
  color: none;
}

.cont-img{
  width: 70%;
}

// B L O C K

.block{
  width: 96%;
  margin-left: 2%;
  outline: 1px solid @color-files;
}

.block-image{
    text-align: center;
  img{
    margin: 0 auto;
    text-align: center;
  }
}

.file-title{
  height: 40pt;
  width: auto;
  border-bottom: 1px solid @color-files;
}
.file-close{
  cursor: pointer;
}
